@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family:Arial, Helvetica, sans-serif, sans-serif;
  background: #b9b3a9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.header {
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    color:azure;
    background-color: ;
    }
    .header bg-primary{
      color: hsl(0, 27%, 96%);
    }
    .left-title {
    width: 80px;
    color: #fff;
    font-size: 18px;
    float: left;
    }
    .right-title {
    width: 150px;
    text-align: right;
    float: right;
    color: #fff;
    }

    
  

.container {
  width: 450px;
  padding: 20px;
  margin-top: 150px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}

h1 {
  text-align: center;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: blueviolet;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button:hover {
  background-color: #ec37ce;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide{
  display: none;
}